DB_URL=jdbc:postgresql://localhost:5432/bigproject
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=9101b9dd989fb04cacf7d2fdba548a80fde9a2f343073b1c0ed77715cdded08c
JWT_EXPIRATION_MS=86400000
AI_API_URL=http://localhost:8001
AWS_ACCESS_KEY_ID=S3액세스키 담는 곳
AWS_SECRET_ACCESS_KEY=S3비밀키 담는 곳
AWS_S3_BUCKET=aivle-test-ai-34178924
AWS_S3_REGION=ap-northeast-2
PII_ENCRYPTION_KEY=1dbc3c6bcc786c44f1c981ad3a431a3842c474e41c5af96766f7dcc4a9fd7eb7

